:root{
    --color-main: #68f8f8;
    --color-blue: #080818;
    --color-lightBlue: #182828;
    --color-white: #fff;
    --color-gray: #1a1a1a;
    --color-black: #000;
}

@keyframes transitionIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes transitionOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, var(--color-main));
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, var(--color-white));
}

::selection{
    color: var(--color-gray);
    background-color: var(--color-main);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body{
    background-color: var(--color-black);
    color: var(--color-white);
    max-width: 100vw;
}



/* GENERAL */
h1{
    font-size: 2.75rem;
}

h2{
    font-size: 1.3rem;
    font-weight: 800;
}

h3{
    font-size: 1rem;
    font-weight: 600;
}

h4{
    color: var(--color-main);
    font-size: 0.9rem;
    font-weight: 400;
}

p{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.35rem;
}

section{
    position: relative;
    max-width: 100%;
    padding: 5rem 0 calc(50px + 10rem) 0;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
}

section .container{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

section .container .header{
    display: grid;
    grid-template-columns: 65px auto;
}

section .container .header .hLine{
    width: 50px;
    height: 1.5px;
    background-color: var(--color-main);
    position: relative;
    top: 50%;
}

section .container .header h4{
    grid-column: 1/3;
}

section .vLine{
    position: absolute;
    grid-column: 1/4;
    height: 50px;
    width: 2.5px;
    background-color: var(--color-main);
    bottom: 5rem;
    left: calc(50% - 1px);
}

button.button{
    background-color: transparent;
    border: 2px solid var(--color-main);
    padding: 1rem 0;
    transition: all .25s ease;
}

button.button a{
    color: var(--color-main);
    padding: 1.25rem 1.5rem;
    transition: all .25s ease;
    font-weight: 600;
    font-size: .85rem;
}

button.button:hover a{
    color: var(--color-black);
}

button.button:hover{
    background-color: var(--color-main);
}

@media screen and (max-width: 600px){
    h1{
        font-size: 2.25rem;
    }
    
    h2{
        font-size: 1.15rem;
        font-weight: 800;
    }
    
    h3{
        font-size: 0.9rem;
    }
    
    h4{
        color: var(--color-main);
        font-size: 0.8rem;
        font-weight: 400;
    }
    
    p{
        font-size: 0.7rem;
        line-height: 1.25rem;
    }

    section{
        grid-template-columns: auto 90% auto;
        padding: 7.5rem 0 calc(40px + 7.5rem) 0;
    }

    section .container .header{
        grid-template-columns: 50px auto;
    }
    
    section .container .header .hLine{
        width: 40px;
    }

    section .vLine{
        height: 40px;
        bottom: 3.75rem;
    }
    
    button.button{
        padding: 0.75rem 0;
    }
    
    button.button a{
        padding: 1rem 1.25rem;
        font-size: .80rem;
    }
}



/* NAVBAR */
nav{
    width: 100%;
    height: 6rem;
    top: 0;
    position: fixed;
    z-index: 999;
    transition: all .5s ease;
}

nav.scrolled{
    background-color: var(--color-black);
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

nav .container .start{
    display: flex;
    align-items: center;
}

nav .container .start .name{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-white);
    user-select: none;
}

nav .container .end{
    display: flex;
}

nav .container .end ul{
    display: flex;
}

nav .container .end ul li{
    display: flex;
    height: 100%;
}

nav .container .end ul li a{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-white);
    padding: .5rem 1rem;
    border-bottom: .25rem solid transparent;
    transition: all .25s ease;
}

nav .container .end ul li a.active{
    border-color: var(--color-main);
}

nav .container .end button{
    border: none;
    color: var(--color-white);
    cursor: pointer;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
}

nav .container .end button{
    display: none;
}

nav .container .end button.search{
    display: block;
    color: var(--color-main);
    margin-left: 1rem;
}

@media screen and (max-width: 1200px) { 
    nav{
        background-color: var(--color-black);
    }   
    
    nav .container .end button.active{
        display: block;
    }

    nav .container .end #closeNav i{
        color: var(--color-main);
    }

    nav .container .end button.in{
        animation: transitionIn 0.25s;
    }

    nav .container .end button.out{
        animation: transitionOut 0.25s;
    }

    nav .container .end ul{
        display: none;
    }

    nav .container .end ul.active{
        position: absolute;
        left: 0;
        top: 0;
        padding: 6rem 0;
        z-index: -1;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        background-color: var(--color-black);
    }

    nav .container .end ul li{
        height: auto;
        justify-content: center;
    }

    nav .container .end ul.in{
        animation: transitionIn 0.5s;
    }

    nav .container .end ul.out{
        animation: transitionOut 0.5s;
    }
}



/* HOME */
section.home{
    padding: 10rem 0 40px 0;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: center 25px;
}

section.home .container .up h1{
    font-size: 4.25rem;
    font-weight: 800;
    line-height: 5rem;
    margin: 1rem 0;
}

section.home .container .up button{
    margin-top: 2.5rem;
}

section.home .container .down{
    margin-top: 10rem;
}

section.home .container .down .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

section.home .container .down .cards .card{
    background-image: url(../images/grayBG.jpg);
    padding: 2rem 2.5rem;
}

section.home .container .down .cards .card:nth-child(2){
    border: 2.5px solid var(--color-main);
}

section.home .container .down .cards .card img{
    width: 40px;
    filter: invert(76%) sepia(82%) saturate(323%) hue-rotate(134deg) brightness(104%) contrast(95%);
    margin: 1rem 0;
}

section.home .container .down .cards .card .line{
    height: 2px;
    background-color: var(--color-main);
    width: 40px;
}

section.home .container .down .cards .card h2{
    margin: 1rem 0;
}

section.home .container .down .cards .card p{
    margin: 1rem 0;
}

section.home .vLine{
    height: 30px;
    bottom: 10px;
}

@media screen and (max-width: 1200px){
    section.home{
        background-position: 75% 25px;
    }
}

@media screen and (max-width: 900px){
    section.home .container .down{
        margin-top: 7.5rem;
    }

    section.home .container .down .cards{
        grid-template-columns: 1fr;
    }

    section.home .container .down .cards .card:nth-child(2){
        border: none;
    }

    section.home .container .down .cards .card:nth-child(3){
        border: 2.5px solid var(--color-main);
    }
}

@media screen and (max-width: 600px){
    section.home .container .down{
        margin-top: 5rem;
    }

    section.home{
        grid-template-columns: auto 90% auto;
    }

    section.home .container .up h1{
        font-size: 3rem;
        line-height: 3.75rem;
    }
}



/* SERVICES */
section.services{
    background-image: url(../images/blueBG.jpg);
}

section.services .container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 5rem;
}

section.services .container .cards .card{
    background-image: url(../images/grayBG.jpg);
    padding: 2.5rem;
    border-bottom: 4px solid var(--color-white);
}

section.services .container .cards .card:hover{
    background-color: var(--color-main);
    background-image: none;
}

section.services .container .cards .card:hover h2, section.services .container .cards .card:hover p{
    color: var(--color-black);
}

section.services .container .cards .card img{
    width: 40px;
    filter: invert(76%) sepia(82%) saturate(323%) hue-rotate(134deg) brightness(104%) contrast(95%);
    margin: 1rem 0;
    filter: drop-shadow();
}

section.services .container .cards .card h2{
    margin: 1rem 0;
}

section.services .container .cards .card p{
    margin: 1rem 0;
}

@media screen and (max-width: 1200px){
    section.services .container .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px){
    section.services .container .cards{
        grid-template-columns: 1fr;
    }
}


/* WORKS */
section.works{
    background-image: url(../images/grayBG.jpg);
}

section.works .container{
    display: grid;
    grid-template-columns: 1fr auto;
}

section.works .container .content{
    align-self: center;
}

section.works .container2{
    grid-column: 1/4;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

section.works .container2 .imgWork{
    height: 300px;
    background-size: cover;
    background-position: center;
    filter: saturate(50%);
}

section.works .container2 .imgWork:nth-child(1){
    background-image: url(../images/work1.jpg);
}

section.works .container2 .imgWork:nth-child(2){
    background-image: url(../images/work2.jpg);
}

section.works .container2 .imgWork:nth-child(3){
    background-image: url(../images/work3.jpg);
}

section.works .container2 .imgWork:nth-child(4){
    background-image: url(../images/work4.jpg);
}

section.works .container2 .imgWork:nth-child(5){
    background-image: url(../images/work5.jpg);
}

section.works .container2 .imgWork:nth-child(6){
    background-image: url(../images/work6.jpg);
}

@media screen and (max-width: 900px) {
    section.works .container2{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    section.works .container{
        grid-template-columns: auto;
    }

    section.works .container .content{
        margin: 2rem 0 2.5rem 0;
    }

    section.works .container2{
        margin-top: 0;
    }

    section.works .container2{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px){
    section.works .container2{
        grid-template-columns: 1fr;
    }
}



/* ABOUT */
section.about{
    background-image: url(../images/blueBG.jpg);
}

section.about .container{
    display: flex;
    flex-direction: column;
}

section.about .container .up{
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

section.about .container .up .box{
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
    padding: 2rem;
}

section.about .container .up .box:nth-child(1){
    grid-row: 1/3;
    background-image: url(../images/about1.jpg);
    background-position: 25% 0;
}

section.about .container .up .box:nth-child(2){
    background-image: url(../images/about2.jpg);
}

section.about .container .up .box:nth-child(3){
    background-image: url(../images/about3.jpg);
}

section.about .container .down{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section.about .container .down .content{
    padding: .5rem 1rem;
}

section.about .container .down .content:nth-child(2),
section.about .container .down .content:nth-child(3){
    border-left: 2.5px solid var(--color-main);
}

section.about .container .down .content p{
    margin-top: 1rem;
    color: rgb(200, 200, 200);
    font-weight: 300;
}

@media screen and (max-width: 900px){
    section.about .container .up{
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    section.about .container .up .box:nth-child(1){
        grid-row: auto;
        background-position: 0 10%;
    }

    section.about .container .down{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    section.about .container .down .content:nth-child(2),
    section.about .container .down .content:nth-child(3){
        border-left: none;
        border-top: 2.5px solid var(--color-main);
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
}

@media screen and (max-width: 600px){
    section.about .container .down{
        gap: 1rem;
    }

    section.about .container .down .content:nth-child(2),
    section.about .container .down .content:nth-child(3){
        padding: 1rem 1rem 0 1rem;
        border-width: 2px;
    }

    section.about .container .down .content p{
        margin-top: 0.75rem;
    }
}



/* BLOG */
section.blog{
    background-image: url(../images/grayBG.jpg);
}

section.blog .container2{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 3rem .75rem;
}

section.blog .container2 .card{
    background-image: url(../images/blueBG.jpg);
    border: 1px solid rgb(50, 50, 50);
    position: relative;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.blog .container2 .card img{
    width: 35px;
    filter: invert(76%) sepia(82%) saturate(323%) hue-rotate(134deg) brightness(104%) contrast(95%);
    margin-bottom: .5rem;
}

section.blog .container2 .card .stars{
    margin: 2rem 0 1.5rem 0;
    color: var(--color-main);
}

section.blog .container2 .card .feedback{
    font-weight: 500;
}

section.blog .container2 .card .stars i{
    font-size: .8rem;
    letter-spacing: 2.5px;
}

section.blog .container2 .card .person{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(100% - 35px);
}

section.blog .container2 .card .person .pp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/person.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}

section.blog .container3{
    grid-column: 2/3;
    margin-top: 7.5rem;
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

section.blog .container3 img{
    width: 60px;
    filter: invert(100%);
}

@media screen and (max-width: 900px){
    section.blog .container2{
        grid-template-columns: 1fr 1fr;
    }

    section.blog .container2 .card{
        margin-top: 5rem;
    }

    section.blog .container2 .card:nth-child(1),
    section.blog .container2 .card:nth-child(2){
        margin-top: 0;
    }
}

@media screen and (max-width: 600px){
    section.blog .container2{
        grid-template-columns: 1fr;
    }
    
    section.blog .container2 .card img{
        width: 30px;
        margin-bottom: 1rem;
    }
    
    section.blog .container2 .card .stars i{
        font-size: .7rem;
        letter-spacing: 2px;
    }

    section.blog .container2 .card:nth-child(1){
        margin-top: 0;
    }

    section.blog .container2 .card:nth-child(2){
        margin-top: 5rem;
    }

    section.blog .container3{
        gap: 2rem;
    }

    section.blog .container3 img{
        width: 40px;
    }
}



/* CONTACT */
section.contact{
    background-image: url(../images/blueBG.jpg);
    padding: 0;
}

section.contact .container{
    grid-column: 1/4;
}

section.contact .container .header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.contact .container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

section.contact .container .cards .card{
    border: 1px solid rgb(50, 50, 50);
}

section.contact .container .cards .card .imageNews{
    height: 30vw;
    background-size: cover;
    background-position: center;
}

section.contact .container .cards .card:nth-child(1) .imageNews{
    background-image: url(../images/contact1.jpeg);
}

section.contact .container .cards .card:nth-child(2) .imageNews{
    background-image: url(../images/contact2.jpg);
}

section.contact .container .cards .card:nth-child(3) .imageNews{
    background-image: url(../images/contact3.jpg);
}

section.contact .container .cards .card .content p{
    font-size: .85rem;
    font-weight: 400;
}

section.contact .container .cards .card .content p:nth-child(2){
    padding: .75rem 0 1.25rem 0;
}

section.contact .container .cards .card .content{
    padding: 2rem 1.5rem;
}

section.contact .container .cards .card .content button.button{
    padding: .5rem 0;
}

section.contact .container .cards .card .content button.button a{
    color: var(--color-white);
    padding: .75rem;
    font-weight: 400;
}

section.contact .container .cards .card .content button.button:hover a{
    color: var(--color-black);
}

section.contact .container2{
    background-image: url(../images/aboutBG.png);
    background-size: cover;
    grid-column: 1/4;
    margin-top: 10rem;
    text-align: center;
    padding: 5rem 0;
    background-position: center 0;
    position: relative;
}

section.contact .container2 .line{
    position: absolute;
    left: calc(50% - 1px);
    top: -2.5rem;
    height: 80px;
    width: 2.5px;
    background-color: var(--color-main);
    align-self: center;
}

section.contact .container2 .socials{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

section.contact .container2 .socials a{
    border: 2px solid var(--color-main);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all .25s ease;
}

section.contact .container2 .socials a i{
    color: var(--color-main);
    font-size: 1.35rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease;
}

section.contact .container2 .socials a:hover{
    background-color: var(--color-main);
}

section.contact .container2 .socials a:hover i{
    color: var(--color-black);
}

section.contact .container2 h1{
    margin: 2.5rem 0;
}

section.contact .container2 button.button a{
    padding: 1.25rem 2rem;
}

section.contact .container3{
    grid-column: 2/3;
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
}

section.contact .container3 .start h1{
    font-size: 2rem;
    margin-bottom: .5rem;
}

section.contact .container3 .start .line{
    width: 50px;
    height: 2px;
    background-color: var(--color-main);
    margin-top: 1.25rem;
}

section.contact .container3 .contents{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

section.contact .container3 .contents .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.contact .container3 .contents .content p i{
    color: var(--color-main);
    margin-right: .5rem;
}

section.contact .container3 .contents .content p,
section.contact .container3 .contents .content a{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-white);
}

section.contact .container3 .contents .content a:hover{
    color: var(--color-main);
}

@media screen and (max-width: 1200px){
    section.contact .container3{
        flex-direction: column;
    }

    section.contact .container3 .contents{
        margin-top: 2.5rem;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px){
    section.contact .container2{
        background-image: none;
    }

    section.contact .container .cards{
        display: flex;
        gap: 2.5rem;
        padding: 0 1rem;
        flex-direction: column;
    }

    section.contact .container .cards .card .imageNews{
        height: 40vw;
    }

    section.contact .container3 .contents{
        gap: 2.5rem;
    }
}

@media screen and (max-width: 750px){
    section.contact .container .cards .card .imageNews{
        height: 50vw;
    }
}

@media screen and (max-width: 600px){
    section.contact .container2 .line{
        height: 70px;
    }

    section.contact .container2 .socials{
        padding-top: 3rem;
    }

    section.contact .container .cards .card .imageNews{
        height: 60vw;
    }

    section.contact .container2 .socials a{
        width: 35px;
        height: 35px;
    }
    
    section.contact .container2 .socials a i{
        font-size: 1.25rem;
    }

    section.contact .container2 h1{
        margin: 2rem 0;
        padding: 0 2rem;
    }

    section.contact .container2 button.button a{
        padding: 1.25rem 1.75rem;
    }

    section.contact .container3{
        margin-top: 2.5rem;
    }

    section.contact .container3 .contents .content p,
    section.contact .container3 .contents .content a{
        font-size: 0.75 rem;
    }

    section.contact .container3 .start h1{
        font-size: 1.75rem;
        margin-bottom: .25rem;
    }

    section.contact .container3 .start .line{
        margin-top: 1rem;
    }
}



/* FOOTER */
footer{
    max-width: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: auto 60% auto;
    background-image: url(../images/blueBG.jpg);
    border-top: 2px solid rgb(25, 25, 25);
}

footer .container{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

footer .container .content a{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.35rem;
}

footer .container .content .cr a{
    color: var(--color-white);
}

footer .container .content .cr a:hover{
    color: var(--color-main);
}

footer .container .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

footer .container .content .pp,
footer .container .content .tou{
    text-align: center;
    color: var(--color-main);
}

footer .container .content .text{
    grid-column: 1/4;
    color: var(--color-main);
}

footer .container .socials{
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

footer .container .socials a{
    color: var(--color-main);
}

@media screen and (max-width: 1200px){
    footer .container .content{
        grid-template-columns: 1fr 1fr;
    }

    footer .container .content .pp{
        text-align: start;
    }

    footer .container .content .tou{
        text-align: start;
        grid-column: 1/2;
    }

    footer .container .content .text{
        grid-column: 1/3;
    }
}

@media screen and (max-width: 900px){
    footer .container .content .cr{
        grid-column: 1/3;
    }

    footer .container .content .pp{
        grid-column: 1/2;
    }

    footer .container .content .tou{
        grid-column: 2/3;
    }
}

@media screen and (max-width: 600px){
    footer{
        grid-template-columns: auto 90% auto;
    }

    footer .container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
     
    footer .container .content a{
        font-size: 0.7rem;
    }

    footer .container .socials{
        padding: 1rem 0 0 0;
    }

    footer .container .socials a i{
        font-size: 0.9rem;
    }
}